<h2>Sign up</h2>

<form method="POST" action="/auth/signup">
<label>First Name:</label>
  <input type="text" name="firstName" placeholder="John" />
  <label>Last Name:</label>
  <input type="text" name="lastName" placeholder="Doe" />
  <label>E-mail</label>
  <input type="email" name="email" placeholder="john@hotmail.com" required="true"/>
  <label>Choose a username:</label>
  <input type="text" name="username" placeholder="John Doe" required="true" />
  <label>Phone Number:</label>
  <input type="number" name="phone" placeholder="+34..."/>
  <label>City:</label>
  <input type="text" name="city" placeholder="Barcelona" />
  <label>Country:</label>
  <input type="text" name="country" placeholder="Spain" />
  <label>Role:</label>
  <input type="text" name="role" placeholder="owner?"required="true"/>
  <label>E-mail</label>
  <label>Password</label>
  <input type="password" name="password" placeholder="*********" required="true" required="true"/>
  
  
  <button type="submit">Register</button>
  <a href="/auth/login">Already have an account? Log in!</a>
  {{#if error}}
    <p style="color: red">{{error}}</p>
  {{/if}}
</form>