<div class="index">
<img src="https://img.freepik.com/premium-vector/pet-care-logo-mascot-template_190190-163.jpg" alt="petcare logo">
 {{#if user}}
      {{else}}    
      <form method="POST" action="/auth/login">
  <label>Introduce email</label>
  <input type="email" name="email" placeholder="email" required="true"/>
  <label>Password</label>
  <input type="password" name="password" placeholder="*********" required="true"/>
  <button type="submit">Log in!</button>
  <a href="/auth/signup">Not registered yet? Sign up!</a>
  {{#if error}}
    <p style="color: red">{{error}}</p>
  {{/if}}
</form>
      {{/if}}
</div>
